*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.coverage
.mluascript_web
/build
/dev
/maafw
/resource
/model
/script
/scripts
/debug
/logs
/adb
/config
/temp
/build.bat
/dist
/blockly
/mluascript.exe
/plugins
/.mluascript
/*.bat
/src/MluaScript.egg-info
